*~
built-in.o
.built-in.o.cmd
*.cmd
*.ko
*.mod.c
modules.order
modules.order
Module.symvers
msr_safe.ko
.msr_safe.ko.cmd
msr_safe.ko.unsigned
.msr_safe.ko.unsigned.cmd
msr_safe.mod.c
msr_safe.mod.o
.msr_safe.mod.o.cmd
msr_safe.o
.msr_safe.o.cmd
*.o
.*.swp
*.symvers
.tmp*
.tmp_versions/
